fastapi
uvicorn
pypdf2
python-multipart
streamlit
requests
redis             
langchain        
openai            
faker           
langchain
openai
tiktoken
jinja2
python-multipart
langgraph
langgraph-checkpoint-postgres
groq
python-dotenv
pytest
pytest-asyncio
httpx